---
layout: default
published: true
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>




<!--- Added as a test! --->
<div class="footer">
	<p> 
       Email:  contact [At] howardheaton [Dot] tech   
       <br />
  	   Office: <a href="https://www.google.com/maps/place/Samueli+School+Samueli+School,+520+Portola+Plaza,+Los+Angeles,+CA+90095/@34.0695091,-118.4428524,19.21z/data=!4m5!3m4!1s0x80c2bc88dcfdae0f:0x697d2d14dc9d5f63!8m2!3d34.0695771!4d-118.4427578">UCLA Math Sciences 7630</a>
    </p>
</div> 
